div[data-alias="ThanhTung-Game-02"]
{
    background-color: ghostwhite;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------------------------------------div[data-alias="L_01-container"]-----------------------------------------*/
div[data-alias="L_01-container"]
{
    display: flex;
    flex-direction: row;
}
div[data-alias="L_01-item"]
{
    display: block;
    padding: 1em;
    border: 0.5em double white;
    margin: 0.5em;
    border-radius: 1em;

    background-color: black;
    color: white;

    text-align: center;
}
/*-------------------------------------------div[data-alias="L_01-container"]-----------------------------------------*/


/*-------------------------------------------div[data-alias="L_02-container"]-----------------------------------------*/
div[data-alias="L_02-container"]
{
    display: flex;
    flex-direction: row;
}
div[data-alias="L_02-item"]
{
    display: block;
    padding: 1em;
    border: 0.5em double white;
    margin: 0.5em;
    border-radius: 1em;

    background-color: skyblue;
    color: white;

    text-align: center;
}
/*-------------------------------------------div[data-alias="L_02-container"]-----------------------------------------*/

/*div[data-alias="L_02-item"][data-id="1"]*/
/*{*/
/*    animation: ChangeColor 2s, Delay 3s 2s;*/
/*}*/

/*@keyframes ChangeColor*/
/*{*/
/*    0%*/
/*    {*/
/*        background-color: limegreen;*/
/*        transform: scale(1.5);*/
/*    }*/
/*    20%*/
/*    {*/
/*        background-color: skyblue;*/
/*        transform: scale(1);*/
/*    }*/
/*    40%*/
/*    {*/
/*        background-color: limegreen;*/
/*        transform: scale(1.5);*/
/*    }*/
/*    60%*/
/*    {*/
/*        background-color: skyblue;*/
/*        transform: scale(1);*/
/*    }*/
/*    80%*/
/*    {*/
/*        background-color: limegreen;*/
/*        transform: scale(1.5);*/
/*    }*/
/*    100%*/
/*    {*/
/*        background-color: skyblue;*/
/*        transform: scale(1);*/
/*    }*/
/*}*/

/*@keyframes Delay*/
/*{*/
/*    0%*/
/*    {*/
/*        transform: translate(100px, 100px);*/
/*    }*/
/*    100%*/
/*    {*/
/*        transform: translate(0px, 0px);*/
/*    }*/
/*}*/