@media screen and (max-width: 820px){
    #question{
        font-size: 2.3em;
    }
    img{
        height: 40%;
    }
    div[id^="popup"]{
        width: 500px;
        height: 300px;
    }
    div>h1{
        top: 20px;
        font-size: 2.5em;
    }
    button{
        scale: 250%;
        top: 80px;
    }
}
@media screen and (max-width: 450px){
    #question{
        font-size: 1.9em;
    }
    div[id^="popup"]{
        width: 300px;
        height: 200px;
    }
    button{
        scale: 180%;
        top: 70px;
    }
    img{
        height: 35%;
    }
    div>h1{
        top: 15px;
        font-size: 1.9em;
    }
}
@media screen and (max-width: 280px){
    img{
        height: 25%;
    }
    #question{
        font-size: 1.4em;
    }
    div[id^="popup"]{
        width: 230px;
        height: 140px;
    }
    div>h1{
        top: 10px;
        font-size: 1.3em;
    }
    button{
        scale: 120%;
        top: 40px;
    }
}