div[data-alias="STT-container"]
{
    background-color: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

img[data-alias="STT-item-icon"]
{
    width: calc(max(2.5%, 30px));
}

div[data-alias="STT-item-option-container"]
{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
}

div[data-alias="STT-item-option-item"]
{
    background-color: deepskyblue;
    color: white;

    border-radius: 5px;
    padding: calc(max(10px, 1%));
    margin: calc(max(5px, 1%));

    text-indent: calc(max(5px, 1%));

    user-select: none;
}

div[data-alias="STT-item-option-item"]:hover
{
    background-color: orange;

    animation-duration: 1s;
    animation-name: ZOOM_IN;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes ZOOM_IN
{
    0%
    {
        transform: scale(0.9);
    }
    100%
    {
        transform: scale(1.05);
    }
}

div[data-alias="STT-item-chart"]
{
    display: none;
}

svg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}