@media screen and (max-width: 1024px)
{
    *
    {
        font-size: 10px;
    }

    div[data-alias="L_03-container"]
    {
        display: flex;
        flex-wrap: wrap;
    }

    div[data-alias="L_03-item-title"], div[data-alias="L_03-item-result"]
    {
        border-radius: 0;
        padding: calc(max(1%, 5px));
    }
}