div[data-alias="L_03-container"]
{
    border-radius: 10px;

    background-color: lightsteelblue;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-content: center;
    text-align: center;

    gap: min(10px, 5%);
    padding: min(1em, 5%);
}

div[data-alias="L_03-item-title"], div[data-alias="L_03-item-result"]
{
    text-align: center;
    padding: 1em;

    border-radius: 10px;
}

div[data-alias="L_03-item-title"]
{
    background-color: limegreen;
    color: white;
}

div[data-alias="L_03-item-result"]
{
    background-color: deepskyblue;
    color: white;
}