div[data-alias="L_01-container"]
{
    background-color: deepskyblue;
}

div[data-alias="L_01-item"]
{
    display: block;
    padding: 1em;

    border: 0.5em double whitesmoke;
    margin: 0.1em;
    border-radius: 1em;
    background-color: black;
    color: white;

    text-align: center;
}